@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Montserrat');

:root{
  font-family: 'Montserrat', sans-serif; 
  --bgGrey: #3e4244;
  --electricBlue: #66c0ec;
  --accentRed: #B36E6E;

}

a{
  text-decoration: none;
}
a:link {
    color: var(--electricBlue);
}
a:visited {
    color: var(--electricBlue);
}

body{
  margin: 0;
  padding: 0;
  background: var(--bgGrey);
  color: var(--electricBlue);

}

.button{
  /* border: 1px solid black;
  border-radius: 10px; */
  min-width: 5rem;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 0px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.bottomBorder{
  position: relative;
  border-bottom: 2px solid white;
  width:50%;
  bottom: 15px;
}

.button:hover ~ .bottomBorder{
  border-bottom: 2px solid var(--accentRed);
}

.pageWrapper{
  /* border: 1px solid green; */
  /* display: flex;
  flex-direction: column; */
  max-width: 1000px;
  /* min-width: 500px; */
  margin: 0 auto;
}
.navbar{
  display: flex;
  justify-content: flex-end;
  min-height: 10vh;
}

.navItem{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeSection{
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 90vh;
  margin: 0;
  padding: 0;
  
}

.myName{
  /* border: 1px solid black; */
  align-self: center;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  text-align: center;
  
}
.myName h1{
  margin: 0;
}

.subName{
  font-family: 'Barlow Condensed', sans-serif;
  color: white;
  margin: 0;
  
  
}

.titleBreak{
  width: 100%;
  border: 1px solid var(--accentRed);
}




@media(max-width: 450px){
  .navbar{
    justify-content: center;
  }
  .titleBreak{
    width: 50%;
  }
  
}