button{
  height: 200px;
  width: 60px;
  margin: 20px;
}
.pageWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
  }

  .flipCardContainer{
    position: relative;
    border: 1px solid black;
    margin: 1px;
    width: 300px;
    height: 350px;
  }
  
  .flipCard{
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease;
  }
  
  .flipCard:hover{
    transform: rotateY(180deg);
  }
  
  .flipCardFront{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }
  
  .flipCardBack{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background: white;
    transform: rotateY(180deg);
  }