:root{
  --dustyPink: #96858f;
  --lavendarBlue: #6d7993;
  --overcastGrey: #9099a2;
  --paperWhite: #d5d5d5;
}
body{
  background: lightslategrey;
  font-family: 'Times New Roman', Times, serif;
}
button{
  height: 350px;
  width: 300px;
  margin: 20px;
  border: 2px solid black;
}

.test{
  color: green;
}
.pageWrapper{
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; */
    max-width: 1000px;
    margin: 0 auto;
    /* margin-top: 50px; */
    background: var(--paperWhite);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  }

  .cardWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid black; */
  }
  .flipCardContainer{
    position: relative;
    border: 3px solid black;
    background: white;
    margin: 1px;
    width: 300px;
    height: 350px;
  }
  
  .flipCard{
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease;
  }
  
  .flipCard:hover{
    transform: rotateY(180deg);
  }
  
  .flipCardFront{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }
  
  .flipCardBack{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background: white;
    transform: rotateY(180deg);
  }