:root{
    --dustyPink: #96858f;
    --lavendarBlue: #6d7993;
    --overcastGrey: #9099a2;
    --paperWhite: #d5d5d5;
  }
  a{
    text-decoration: none;
  }
  a:link {
      color: black;
  }
  a:visited {
      color: black;
  }
  body{
    background-color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  #navbar{
    background-color: var(--paperWhite) ;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
  }
  #navButtonWrapper{
    display:flex;
    flex: .5;
    justify-content: space-around;
  }
  #welcome-section{
  /*   border: solid 1px green; */
    background-color: var(--paperWhite);
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }
  #myName{
    align-self: center;
  }
  #myName p{
    color: var(--lavendarBlue);
  }
  #starWars{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #charNames {
    text-align: left;
    align-self: center;
  }
  #starWars{
    display: flex;
    justify-content: right;
  }
  #films{
    display: flex;
    justify-content: center;
    border: solid 1px green;
    text-align: left;
  }
  #films ul{
    list-style: none;
  }
  #projects{
    border: solid 1px black;
    margin-top: -20px;
    padding-bottom: 10px;
    background-color: var(--overcastGrey);
  }
  #projects h2{
    padding: 50px 0px 20px 0px;
  }
  #contact{
  /*   border: solid 1px black; */
    padding: 10px 0px 100px 0px;
    background-color:var(--paperWhite);
    display: flex;
    flex-direction: column;
  }
  #contact h2{
    padding: 20px;
  }
  #contactButtonWrapper{
  /*   border: solid 1px black; */
    min-width: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .contactButton{
    margin:0px 75px 10px 75px;
    border: solid 2px black;
    border-radius: 40%;
    background-color: var(--paperWhite);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contactButton:hover{
    background-color: var(--overcastGrey);
  }
  @media screen and (max-width: 600px) {
      #navbar {
          background-color: var(--overcastGrey);
      }
  }