
body{
  background-color: aliceblue;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

#senatorList li{
  list-style: none;
}
/* figcaption{
  border: 1px solid green;
  background-color: rgba(0,0,0, 0.75);
  color: white;
  padding: 3px;
  position: relative;
  bottom: 25px;
  text-align: center;
} */
/* figure{
  border: solid 1px black;
} */

/* test2 */